
export(
  doLoewe,
  doNlme,
  doNls,
  getCellLines,
  getDrugs,
  getNlsParameterDefaults,
  getTrays,

  NlmePrintVarFunctions,
  
  plot.loeweData,
  plot.mixlowData,
  plot.nlmeData,
  plot.nlsData,


  print.nlmeData,
  print.nlsData,
  print.mixlowData,
  print.loeweData,

  
  prepareData,
  readDataFile,
  summarizeData)


